.cakeContainer {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: opacity .3s;
}

.cakeContainer.fadeOut {
    opacity: 0;
    transition: height .3s;
}

.cakeContainer.small {
    overflow: visible;
}

.cakeContainer.small .cakeRings {
    position: absolute;
    margin-bottom: 100%;
}

.cakeContainer.small .firstRing {
    left: 33%;
    height: 53%;
    width: 12%;
    top: 8%;
}

.cakeContainer.small .secondRing {
    left: 40%;
    height: 80%;
    width: 20%;
    top: -10%;
}

.cakeContainer.small .firstRing::after {
    border-width: .1rem !important;
}

.cakeContainer.small .secondRing::after {
    border-width: 0.2rem !important;
    left: 2%;
    top: 0%;
}

.cakeRings {
    height: 24%;
    width: 100%;
    z-index: 3;
    position: relative;
    /* transition: all .5s; */
    /* transition-delay: 1s; */
    /* transform: translateY(0px);r */
}

.cakeRings.compressed {
    margin-bottom: -20%;
    /* transform: translateY(0px); */
    /* transform: translateY(50px); */
    transition: all .5s;
    /* transition-delay: 3s; */
    transition-delay: 5s;
    height: 0%;
    width: 0%;
}

.firstRing, .secondRing {
    border-radius: 50%;
    border: solid .6rem #a7b69d;
    position: absolute;
    transition: all .5s;
    transition-delay: 1s;
}

.cakeRings.compressed > .firstRing, .cakeRings.compressed > .secondRing {
    /* transition: all .5s;
    transition-delay: 2s; */
}

/* .firstRing::after, .secondRing::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: solid 0.4rem white;
    transition: all .5s;
    transition-delay: 1s;
} */

.firstRing {
    height: 36%;
    width: 10%;
    top: 13%;
    left: 37%;
}

.firstRing::after {
    height: 70%;
    width: 70%;
    top: 0%;
    left: 0%;
    z-index: 1
}

.firstRing.compressed {
    height: 35%;
    width: 8%;
    left: 43%;
}

.firstRing.compressed, .secondRing.compressed {
    border: solid .6rem #AC9EED;
    border-width: 0px !important;
    top: 17%;
}

/* .firstRing.compressed::after, .secondRing.compressed::after {
    opacity: 0;
    z-index: -1;
    transition: all .5s;
    transition-delay: 1s;
} */

.secondRing {
    height: 53%;
    width: 14%;
    top: 4%;
    left: 45%;
}

/* .secondRing::after {
    height: 70%;
    width: 70%;
    top: 0%;
    left: 0%;
} */

.secondRing.compressed {
    left: 41%;
    width: 14%;
    height: 35%;
}

.firstRing.compressed, .secondRing.compressed {
    /* transition-delay: 2s; */
}

.firstLayer {
    height: 13%;
    width: 50%;
    border-radius: 50%;
    position: relative;
    margin-bottom: 7%;
    transition: all .5s;
    margin-bottom: -17%;
}

.firstLayer.tall::after {
    top: 143%;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: all .5s;
}

.firstLayer.tall {
    margin-bottom: 7%;
    background-color: #AC9EED;
}

.secondLayer {
    height: 20%;
    width: 75%;
    border-radius: 50%;
    position: relative;
    transition: all .5s;
    transition-delay: .5s;
    margin-bottom: -24%;
}

.secondLayer.tall {
    margin-bottom: 10%;
    background-color: #AC9EED;
}

.secondLayer.tall::after {
    top: 139%;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: all .5s;
}

.thirdLayer {
    height: 25%;
    width: 100%;
    border-radius: 50%;
    position: relative;
    background-color: #AC9EED;
}

.firstLayer.tall::after, .secondLayer.tall::after, .thirdLayer::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: white;
    transition: all .5s;
    transition-delay: 1s;
    opacity: 1;
}

.firstLayer::after, .secondLayer::after {
    opacity: 0;
    height: 0px;
    width: 0px;
    transition: all .5s;
    transition-delay: 1s;
}