.RSVPForm {
    display: flex;
    gap: var(--default-gap);
    flex-direction: column;
    padding-left: var(--default-gap);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

.RSVPFormField {
    display: flex;
    gap: var(--default-gap);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.RSVPName {
    font-size: var(--font-size-medium);
}


.RSVPAcceptReject {
    /* flex: 1 1 auto; */
    display: flex;
    gap: var(--default-gap);
    /* justify-content: flex-end; */
    max-width: 100%;
}

.RSVPSearchInput {
    padding-top: var(--default-gap);
}

.summaryItemLocation {
    color: #2f2f2f;
    font-size: 1.1rem;
}

.RSVPItemDescription {
    color: black;
    font-size: 1.2rem;
}

.fancyText {
    font-family: 'Dancing Script', cursive;
}

.searchFieldContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.searchFieldIcon {
    position: absolute;
    right: var(--default-padding);
    /* right: calc(350px - var(--default-padding)); */
}

.weddingGroupSearchField {
    width: 350px;
}

.matchedGroup {
    background: #fafafa;
    border: solid 2px #fafafa;
    border-radius: 1rem;
    display: flex;
    gap: var(--default-gap);
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    cursor: pointer;
    transition: all .2s;
}

.matchedGroup:hover {
    border-color: var(--clr-lavender);
}

.attendingTable {
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.attendingTable tr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.attendingTable th {
    font-weight: 700;
}

.attendingTable td {
    font-weight: 500;
}

.maxCell {
    width: 100%;
}

.peopleSelection, .peopleSelected {
    display: flex;
    gap: var(--default-gap);
}

.rsvpButtonPanel {
    display: flex;
    gap: var(--default-gap);
    justify-content: space-around;
}

.groupChoiceButtons {
    display: flex;
    gap: var(--default-gap);
    justify-content: space-around;
    flex-wrap: wrap;
}

.summaryItemName {
    font-family: 'Dancing Script', cursive;
}

@media(max-width: 768px) {
    .rsvpFormButtonText {
        /* display: none; */
        font-size: 8px !important;
    }
}


@media(max-width: 425px) {

    .summaryDay {
        padding: calc(0.5 * var(--default-padding)) 0;
        padding-left: calc(0.5 * var(--default-padding));
    }
    .RSVPAcceptReject button{
        /* width: 100%; */
        flex: 1 1 auto;
    }

    .RSVPName {
        flex: 1 1 auto;
        text-align: center;
    }

    .RSVPItemDescription {
        font-size: .5em;
    }

    .summaryItemtime {
        flex: 0 0 18%;
    }

    .summaryItemLocationContent {
        font-size: 0.7em;
    }

    .rsvpFormButton {}


    .rsvpTableBody .MuiTableCell-body {
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center;
    }

    .rsvpTableHead .MuiTableCell-head {
        padding-left: 2px !important;
        padding-right: 2px !important;
        text-align: center;;
    }
}

@media(min-width: 1024px) {
    .RSVPBody {
        max-width: 75%;
    }

    .summaryItemName {
        font-size: 0.85em;
    }

    .RSVPName {
        font-size: 1.15em;
    }
}