.cameraContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: all .5s;
}

.cameraContainer.opaque {
    opacity: 0;
}

.cameraTop {
    width: 30%;
    height: 10%;
    background-color: #AC9EED;
    position: relative;
}

.cameraTop::before, .cameraTop::after {
    position: absolute;
    content: '';
    background-color: white;
    height: 100%;
    width: 100%;
}

.cameraTop::before {
    transform: rotate(-70deg);
    right: 62%;
}

.cameraTop::after {
    transform: rotate(70deg);
    left: 62%;
}

.diamondContainer {
    position: relative;
    height: 32%;
    width: 40%;

    position: absolute;
    top: -10%;
}

.diamondTop {
    /* background: #AC9EED; */
    background-color: #a7b69d;
    height: 35%;
    width: 100%;
    position: relative;
}

.cameraSquare.small .diamondTop::before, .cameraSquare.small .diamondTop::after {
    height: 120%;
    width: 30%;
}

.cameraSquare.small .diamondTop::before {
    left: -32%;
    height: 70%;
    top: -4%;
    width: 62%;
    transform: rotate(-50deg);
}

.cameraSquare.small .diamondTop::after {
    right: -32%;
    height: 70%;
    top: -4%;
    width: 62%;
    transform: rotate(50deg);
}

.diamondTop::before, .diamondTop::after {
    content: '';
    position: absolute;
    background: white;
    height: 200%;
    width: 123%;

    height: 141%;
    width: 71%;
}

.diamondTop::before {
    /* left: -97%; */
    left: -51%;
    top: -53%;
    transform: rotate(-50deg);
}

.diamondTop::after {
    right: -89%;
    transform: rotate(45deg);
    right: -97%;

    right: -51%;
    top: -53%;
    transform: rotate(50deg);

    
}

.diamondBottom {
    background-color: #a7b69d;
    height: 65%;
    width: 100%;
    margin-top: -1px;
    position: relative;
}

.diamondBottom::before, .diamondBottom::after {
    content: '';
    position: absolute;
    background: white;
    height: 100%;
    width: 120%;
}

.diamondBottom::before {
    left: -64%;
    transform: rotate(48deg);
}

.diamondBottom::after {
    /* right: -64%; */
    right: -61%;
    top: 15%;
    transform: rotate(-48deg);
}

.cameraSquare {
    /* width: calc(100% - 3rem); */
    width: 80%;
    height: 62.5%;
    border: solid 1.5rem #AC9EED;
    border-radius: 15%;
    position: relative;
    display: flex;
    justify-content: center;
}

.cameraSquare.small {
    border-width: .3rem;
    /* width: calc(100% - .6rem); */
    width: 75%;
}

.ringContainer {
    top: 20%;
    position: relative;
    height: 60%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .35s;
}

.ringContainer.small {
    height: 75%;
    width: 45%;
    top: 11%;
}

.ringContainer.expanded {
    transition: all .3s;
    transform: scale(1.15); 
}

.ringContainer.spin {
    transform: rotate(360deg)
}

.ringContainer.loading {
    animation: 0.75s linear 0s infinite normal both running music-load;
}

.cameraTopGap {
    position: absolute;
    height: 14%;
    width: 17%;
    background: white;
    top: -14%;
}

.cameraTopGap::before, .cameraTopGap::after {
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: white;
    content: '';
    top: 58%;
}

.cameraTopGap::before {
    left: -52%;
    transform: rotate(-70deg);
}

.cameraTopGap::after {
    right: -52%;
    transform: rotate(70deg);
}

/* .ringTop {
    height: 32%;
    width: 40%;
    background: #a7b69d;
} */

.ringCircle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background: #a7b69d; */
    position: relative;

    height: 75%;

    height: 52%;
    width: 70%;

    border: solid var(--clr-lavender);
    /* border-color: var(--clr-lavender); */

}

/* .ringCircle::after {
    content: '';
    position: absolute;
    background-color: white;
    height: 85%;
    width: 85%;
    top: 7.5%;
    left: 7.5%;
    border-radius: 50%;
}

.ringCircle.small::after {
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
} */

@keyframes music-load {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}