body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.MuiDialogActions-root {
  justify-content: space-around !important;
}

.error{
  color: #d32f2f;
  display: flex;
  gap: var(--default-gap);
  align-items: center;
}

h1 {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.thingsToDoImage {
  width: 60%;
  border-radius: 2rem !important;
}

.thingsToDoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--default-gap);
}

.cakeImg {
  max-height: 30rem;
  max-width: 30rem;
}

.weddingBody {
  background-color: white;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: var(--default-gap);
  margin-bottom: var(--default-padding);
  padding: 0 var(--default-padding);
  overflow: hidden;
}

.weddingBody img {
  max-width: 100%;
  /* border-radius: 50%; */
  border-radius: 15%;

}

.sanDiegoTitle {
  font-weight: 600; 
  font-size: 3rem;
  display: flex;
  align-items: center;
  gap: var(--default-gap);
}

.summaryDay {
  background: #fafafa;
  /* padding: var(--default-padding) 0; */
  padding: var(--default-padding);
  padding-bottom: 0px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
}

.logisticsAccordion {
  display: flex !important;
  flex-direction: column !important;
  gap: var(--default-gap) !important;
}

@media(max-width: 768px) {
  :root {
    --default-padding: 1rem !important;
    --default-gap: .5rem !important;
  }

  h1 {
    font-size: 1.1rem;
  }

  h2 {
    font-size: .9rem;
  }

  .sanDiegoTitle {
    font-size: 1.5rem;
  }

}

.disclaimer {
  /* font-size: .8rem; */
  color: #4d4d4d;
  font-style: italic;
}

@media(max-width: 1024px) {
  #wedding-parties-image-list {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

@media(max-width: 768px) {
  #wedding-parties-image-list {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .weddingBody {
    margin-top: calc(70px + var(--default-padding));
  }
}

@media(max-width: 425px) {
  #wedding-parties-image-list {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}