.cuvierContainer {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;

    transition: all .5s;
}

.cuvierContainer.opaque {
    opacity: 0;
}

.cuvierCircle {
    position: absolute;
    border: solid var(--clr-lavender);
    height: 65%;
    width: 65%;
    border-radius: 50%;
}

.cuvierCircle.left {
    right: 46%;
}

.cuvierCircle.right {
    left: 46%;
}